.navlink:hover {
  color: rgb(124, 173, 219);
}
.navlink {
  padding-top: 11px;
  padding-bottom: 11px;
}
.active {
  color: white;
}
.linkBox {
  display: flex;
  gap: 15px;
  align-items: center;
}
