.item {
  display: flex;
  gap: 4px;
  align-items: center;

  margin-bottom: 4px;
}
.item:last-child {
  margin-bottom: 0;
}
.img {
  width: 20px;
  height: 20px;
}
.button {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
