.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;
  gap: 4px;
  align-items: center;

  margin-bottom: 4px;
}
.item:last-child {
  margin-bottom: 0;
}
.imgTel {
  border: 1px solid transparent;
}
.imgTel:hover {
  border: 1px solid green;
  border-radius: 8px;
}
.number {
  border: 1px solid transparent;
}
.imgTel:hover + .number {
  border-bottom-color: green;
}
.btnBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
