.info {
  display: flex;
  gap: 15px;
  align-items: center;
}
.btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid black;
  padding: 3px;
}
.btn:hover {
  color: white;
  border-color: white;
}
