.info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn {
  color: black;

  padding: 11px;
  background-color: transparent;
  font-size: 15px;
}
.btn:hover {
  color: rgb(124, 173, 219);
}
